<article class="home__content-card">
   <div class="home__content-card-box">
        <video class="home__content-card-mp4" [src]="videoUrl" controls></video>
        
        <div class="home__content-card-info">
            <span class="home__content-card-info-description">Description</span>
            <div>
                <p class="home__content-card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit blanditiis soluta tempora neque, molestiae voluptate qui exercitationem, ipsa eos numquam corrupti mollitia, dolorem ut? Dicta assumenda exercitationem eaque dolores accusantium!
                </p>
            </div>
        </div>
    </div>
    <app-comment-add [id]="videoId"></app-comment-add>
    <app-comment-list [id]="videoId"></app-comment-list>
   
</article>